minecraft/icon.png
minecraft/emi.json
minecraft/usercache.json
minecraft/fabricloader.log
minecraft/options.txt
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/usernamecache.json
minecraft/logs
minecraft/crash-reports
minecraft/ESM
minecraft/saves
minecraft/modernfix
minecraft/local
minecraft/schematics
minecraft/data
minecraft/downloads
minecraft/server-resource-packs
minecraft/texturepacks
minecraft/shaderpacks
minecraft/screenshots
minecraft/resourcepack
minecraft/coremods
minecraft/mods/.index
minecraft/mods/.connector
minecraft/mods/*.jar
!minecraft/mods/ThirstWasTaken-*.jar
!minecraft/mods/tinkersdelight-*.jar
minecraft/.pw-install
minecraft/config