.git
minecraft/icon.png
minecraft/emi.json
minecraft/usercache.json
minecraft/fabricloader.log
minecraft/options.txt
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/usernamecache.json
minecraft/patchouli_data.json
minecraft/logs
minecraft/crash-reports
minecraft/ESM
minecraft/saves
minecraft/modernfix
minecraft/local
minecraft/schematics
minecraft/data
minecraft/downloads
minecraft/server-resource-packs
minecraft/texturepacks
minecraft/shaderpacks
minecraft/screenshots
minecraft/coremods
minecraft/mods/.index
minecraft/mods/.connector
minecraft/mods/*.jar
!minecraft/mods/ThirstWasTaken-*.jar
!minecraft/mods/tinkersdelight-*.jar
!minecraft/mods/fluidtrash-*.jar
!minecraft/mods/buildingpacks-*.jar
minecraft/.pw-install
minecraft/config/**/**.*
!minecraft/config/apotheosis/apotheosis.cfg
!minecraft/config/apotheosis/spawner.cfg
minecraft/kubejs/assets
minecraft/kubejs/data
minecraft/kubejs/probe
minecraft/kubejs/client_scripts
minecraft/kubejs/startup_scripts
minecraft/kubejs/probe
minecraft/kubejs/README.txt
minecraft/.vscode
minecraft/rhino.local.properties
minecraft/simplebackups